<!-- ABOUT ME -->
<section class='section'>
	<h1>About Me</h1>
	<p>{{ vm.data.about }}</p>
	<div class='findMe'>
		<p>You can find me here:</p>
		<ul>
			<li ng-repeat='social in vm.data.social'><a href="{{ social.link }}" target="_blank">{{ social.title }}</a></li>
		</ul>
</section>


<!-- PROJECTS -->
<section class='section' id='projects'>
	<h1>Projects</h1>
	<div class='row'>
		<div ng-repeat='project in vm.data.projects' class='project'>
			<div class='pic col-md-7'>
				<a href='{{ project.link }}' target='_blank'>
					<img ng-src='{{ project.pic }}' ng-click='thisFun()' />
				</a>
			</div>
			<div class='details col-md-5'>
				<h1><a href='{{ project.link }}' target='_blank'>{{ project.title }}</a></h1>
				<ul>
					<li ng-repeat='tech in project.stack'>{{ tech }}</li>
				</ul>
				<p>{{ project.details }}</p>
			</div>
		</div>
	</div>
</section>

<section class='section' id='experience'>
	<h1>Experience</h1>
	<div class="row">
		<div ng-repeat='experience in vm.data.experience' class='experience'>
			<div class='pic col-md-2'>
				<a href='{{ experience.link }}' target='_blank'>
					<img ng-src='{{ experience.pic }}' />
				</a>
			</div>
			<div class='details col-md-10'>
				<h1><a href='{{ experience.link }}' target='_blank'>{{ experience.company }}</a></h1>
				<h2>{{ experience.role }}</h2>
				<p>{{ experience.details }}</p>
			</div>
		</div>
		
	</div>
</section>