/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navbar-default {
  border: none;
  background: white;
  font-size: 1.1em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: white;
  color: black;
}

.nav > li > a {
  padding: 0;
}

/* ENTIRE SITE */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.3em;
}

a {
  color: black;
}

a:hover, a:visited, a:focus {
  text-decoration: none;
}

.section {
  margin-bottom: 60px;
}

/* LEFT MENU */
.fixed {
  position: fixed;
  width: 33%;
}

.main {
  margin-left: 33%;
}

/* ABOUT ME */
.findMe p, .findMe ul, .findMe ul li  {
  display: inline-block;
}

.findMe ul {
  padding-left: 0;
  margin-left: 10px;
}

.findMe li {
  margin-right: 15px;
}

.findMe li a {
  color: #2F5271;
}

/* PROJECTS */
.project {
  min-height: 230px;
  margin-bottom: 50px;
}
.project img {
  float: left;
  max-width: 400px;
  max-height: 400px;
  margin-right: 20px;
  border: 1px solid #E8E8E8;
}

.project h1 {
  font-size: 1.2em;
}

.project ul {
  list-style: none;
}

.project ul li {
  display: inline-block;
  margin-right: 15px;
  color: #767676;
}